In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/merger/bigTable.csv')

In [11]:
df.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,cluster,family,class,perishable,transactions,year,month,day,dayofweek,days_til_end_of_data,cpi,dayoff
0,88211471,2016-08-16,44,103520,7.0,True,Quito,Pichincha,5,GROCERY I,1028,0,3941,2016,8,16,1,364,105.123322,False
1,88211472,2016-08-16,44,103665,7.0,False,Quito,Pichincha,5,BREAD/BAKERY,2712,1,3941,2016,8,16,1,364,105.123322,False
2,88211473,2016-08-16,44,105574,13.0,False,Quito,Pichincha,5,GROCERY I,1045,0,3941,2016,8,16,1,364,105.123322,False
3,88211474,2016-08-16,44,105575,18.0,False,Quito,Pichincha,5,GROCERY I,1045,0,3941,2016,8,16,1,364,105.123322,False
4,88211475,2016-08-16,44,105577,8.0,False,Quito,Pichincha,5,GROCERY I,1045,0,3941,2016,8,16,1,364,105.123322,False

In [7]:
df.groupby('family')['unit_sales'].mean()

family
AUTOMOTIVE                     1.978254
BEAUTY                         2.660972
BEVERAGES                     19.684832
BOOKS                          2.975186
BREAD/BAKERY                  13.375699
CELEBRATION                    2.403014
CLEANING                       8.285905
DAIRY                         11.563398
DELI                           9.678478
EGGS                          12.875260
FROZEN FOODS                  13.965809
GROCERY I                     11.707054
GROCERY II                    10.251966
HARDWARE                       1.756456
HOME AND KITCHEN I             3.860949
HOME AND KITCHEN II            4.782655
HOME APPLIANCES                2.290768
HOME CARE                      8.845413
LADIESWEAR                     2.580670
LAWN AND GARDEN                3.420720
LINGERIE                       2.449348
LIQUOR,WINE,BEER               8.418940
MAGAZINES                      3.851244
MEATS                         21.017011
PERSONAL CARE                  7.312413
PET SUPPLIES                   3.175917
PLAYERS AND ELECTRONICS        3.319299
POULTRY                       28.403298
PREPARED FOODS                21.636254
PRODUCE                       28.773500
SCHOOL AND OFFICE SUPPLIES     8.511139
SEAFOOD                       12.437171
Name: unit_sales, dtype: float64

In [14]:
df['date'] = pd.to_datetime(df['date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5877318 entries, 0 to 5877317
Data columns (total 20 columns):
id                      int64
date                    datetime64[ns]
store_nbr               int64
item_nbr                int64
unit_sales              float64
onpromotion             bool
city                    object
state                   object
cluster                 int64
family                  object
class                   int64
perishable              int64
transactions            int64
year                    int64
month                   int64
day                     int64
dayofweek               int64
days_til_end_of_data    int64
cpi                     float64
dayoff                  bool
dtypes: bool(2), datetime64[ns](1), float64(2), int64(12), object(3)
memory usage: 818.3+ MB